.installation {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e9e4e9;
  color: black;
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .install-options {
    $drop-shadow: drop-shadow(0px 2px 4px #bbb);
    filter: $drop-shadow;
    padding: 1rem;

    background-color: white;
    .tab-pane {
      max-width: 100%;
      text-align: center;
      padding: 1rem;
      border: 0px;
      pre {
        border: 0px;
      }
    }

    .nav-link.active {
      background-color: white !important;
      border-color: #ddd;
    }
  }
}
