/*
Bootstrap variables overrides for theme.
See https://github.com/twbs/bootstrap/pull/23260
*/

$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

$blue: #5e50f9 !default;
$indigo: #6610f2 !default;
$purple: #6a008a !default;
$pink: #e91e63 !default;
$red: #f96868 !default;
$orange: #f2a654 !default;
$yellow: #f6e84e !default;
$green: #46c35f !default;
$teal: #58d8a3 !default;
$cyan: #57c7d4 !default;
$white: #ffffff !default;
$gray: #434a54 !default;
$gray-light: #aab2bd !default;
$gray-lighter: #e8eff4 !default;
$gray-lightest: #e6e9ed !default;
$gray-dark: #0f1531 !default;
$black: #000000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #191b1e !default;

$primary: darken($red, 40);
$secondary: #a3a4a5;
$success: #00d082;
$info: #1cbccd;
$warning: #ffbf36;
$danger: #f83e37;
$light: #f8f9fa;
$dark: #08080d;

$body-font-family: var($font-sans-serif);
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;

$body-bg: desaturate(darken($primary, 35%), 30);
$body-color: $gray-400;

$border-color: $gray-600;
$td-sidebar-tree-root-color: $gray-600;
$toc-link-color: $gray-400;
$toc-link-hover: $orange;

$link-color: $orange;
$link-decoration: underline;

$card-bg: desaturate(darken($primary, 20), 15);
$card-color: $gray-300;

$code-color: $gray-100;

$component-active-bg: $success;
$jumbotron-bg: $gray-900;
$list-group-bg: $gray-800;
$modal-content-bg: $gray-600;
$modal-content-border-color: rgba($white, 0.2);

$gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.15),
  rgba(255, 255, 255, 0)
);

$border-radius: 0.1rem !default;
$border-radius-lg: 0.1rem !default;
$border-radius-sm: 0.1rem !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  ),
  $theme-colors
);

@import "./overrides";
@import "./scrollbar";
@import "./utility";
